{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            height: 300px!important;
            width: 500px;
        }
    </style>
    <!-- Dados Relevantes -->
    <div class="row tile_count">
        <div class="col-md-3 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Cidade</span>
            <div class="count">{{ consumoSemana1 }}
                <small>w</small>
            </div>
            <span class="count_bottom"></i> ESTADO DA CIDADE</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-globe"></i> Temperatura</span>
            <div class="count green">2,500</div>
            <span class="count_bottom"><i class="verde"><i class="fa fa-sort-asc"></i>34% </i> Semana passada</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-tint"></i> Umidade</span>
            <div class="count">4,567</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> Semana passada</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-sun-o"></i> Luminosidade</span>
            <div class="count">123.50</div>
            <span class="count_bottom"><i class="verde"><i class="fa fa-sort-asc"></i>3% </i> Semana passada</span>
        </div>

    </div>

    <!-- Gráfico experimental. -->
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-bar-chart"></i>
                        Gráfico do clima
                        <small>Resumo da mudança climática</small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab_content11" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Mês</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">Semana</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#tab_content33" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="false">Dia</a>
                            </li>
                        </ul>
                        <div id="myTabContent2" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content11"
                                 aria-labelledby="home-tab">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <canvas id="consumoTotalMes"></canvas>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content22" aria-labelledby="profile-tab">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <canvas id="consumoTotalSemana"></canvas>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content33" aria-labelledby="profile-tab">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <canvas id="consumoTotalDia"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        var newDataMes = [];
        var newDataSemana = [];
        var newDataDia = [];

        {% for item in consumoMes %}
            newDataMes.push("{{ item.0 }} {{ item.1 }}");
        {% endfor %}

        {% for item in consumoSemana2 %}
            newDataSemana.push("{{ item.0 }} {{ item.1 }}");
        {% endfor %}

        {% for item in consumoDia %}
            newDataDia.push("{{ item.0 }} {{ item.1 }}");
        {% endfor %}

    </script>
    <script src="/static/js/charts.js"></script>
{% endblock javascripts %}